/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #c21d51;
  --main-color-darker: #b41547;
  --secondary-color: rgb(183, 189, 168);
  --highlight: rgb(202, 201, 167);
  --shadow: rgba(0, 0, 0, 0.18);
  --paleblue: rgb(170, 201, 213);
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: Solway;
  box-sizing: border-box;
  color: var(--white);
}
.app {
  height: 100vh;
  width: 100vw;
  background-color:var(--secondary-color);
  overflow: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  box-shadow: 0 3px 10px var(--shadow);
  background-color: var(--highlight);
}
.headline {
  margin: 0.45rem;
}
h1.headline {
  font-size: x-large;
  margin: 0;
}
p.bangers{
  font-family: Bangers;
  font-size: xx-large;
}
a.bangers{
  font-family: Bangers;
  font-size: xx-large;
}

/* dropdown */
.dropdown {
position: relative;
display: flex;
justify-content: right;
min-width: 10rem;
margin-right: 0.5rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 1.5rem;
  background-color: var(--secondary-color);
  min-width: 160px;
  box-shadow: 0 3px 5px var(--shadow);
  padding: 0.8rem 1rem;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: 210ms all ease-in-out;
}

/* start */
.startScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 9rem;;
  height: 100vh;
  overflow: hidden;
}

/* Board */
.aroundthegame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game {
  background-color: transparent;
  width: auto;
  display: flex;
  margin: 0;
  padding: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 0.25rem;
  background-color: transparent;
}
.square {
  justify-self: center;
  align-self: end;
  width: 6.25rem;
  height: 6.25rem;
  background-color: var(--main-color);
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  color: var(--paleblue);
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px var(--shadow);
  font-size: xx-large;
  font-weight: bolder;
}
.square:hover {
  background-color: var(--main-color-darker);
  transition: 210ms all ease-in-out;
}
.square:active {
  transition: 100ms all ease-in-out;
  width: 98%;
  height: 98%;
}
img.avatar {
  max-width: 100%;
  width: 4.6875rem;
  justify-self: center;
}

/* display */
.display {
  display: block;
  text-align: center;
  line-height: 2.1em;
  padding: 0.25em 0.75em;
  min-width: 6.25rem;
  min-height: 2.75rem;
  margin-bottom: 0.35rem;
  background-color: transparent;
  font-size: medium;
}

/* character */
.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}
.card {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.UserName {
  width: 100%;
  margin: 1rem;
}
/* XXX better character sizing - min-width max-width? */
.floating {
  width: 18.75rem;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 1.875rem;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
form.radios{
  display: flex;
  flex-wrap: wrap;
}
input {
  color: var(--main-color);
}

[type='text'] {
  background-color: var(--highlight);
  border-style: none;
  margin: 0.25rem 0.25rem 0.25rem 0rem;
  padding: 0.25rem;
}

[type='radio'] {
  color: var(--main-color);
  opacity: 0; /* hidden but tabable */
  position: absolute;
}
.radios label {
  cursor: pointer;
  position: relative;
}
img.icons {
  width: 6.25rem;
}
img.icons:active {
width: 6.2rem;
transition: all 0.4s;
}
.radios span {
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
  margin: 1.25rem;
}
input[type='radio'] + span {
  border-radius: 50%;
  background: transparent;
  background-size: contain;
  transition: all 300ms;
}
input[type='radio']:checked + span {
  background-color: var(--highlight);
  border: var(--main-color);
  border-style: outset;
  border-width: 1rem;
  transition: ease-in-out 300ms;
}

/* :hover? */

.submitbuttoncharacterform {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/* wall of fame */
.table-container {
  max-width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.responsive-table{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
h2 {
  font-size: 1.625rem;
  margin: 1.25rem 0;
  text-align: center;
}
li {
  border-radius: 3px;
  padding: 1.56rem 1.875rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.table-header {
  background-color: var(--main-color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.table-row {
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 9px 0px var(--shadow);
}
.col-1 {
  flex-basis: 20%;
}
.col-2 {
  flex-basis: 20%;
}
.col-3 {
  flex-basis: 20%;
}
.col-4 {
  flex-basis: 20%;
}
.col-5 {
  flex-basis: 20%;
}
a {
  text-decoration: none;
}

/* button */
button {
position: absolute;
display: inline-block;
position: relative;
background-color: var(--main-color);
font-family: Bangers;
font-size: 1.5rem;  
letter-spacing: 0.07rem;
border-radius: 1000px;
border-width: 0;
padding: 0.75rem;
box-shadow: 0 3px 5px var(--shadow);
text-align: center;
transition:  100ms;
}
button:hover {
background-color: var(--main-color-darker);
}
button:active {
transition: 100ms all ease-in-out;
padding: 0.50rem;
}

/* responsive */
@media only screen and (max-width: 768px) and (orientation:portrait) {
.app {
    overflow: hidden auto;
  }
  /* board */
  .game {
    width: auto;
  }
  .board {
    display: grid;
    width: fit-content;
    gap: 0.25rem;
  }
  .square {
    justify-self: center;
    align-self: end;
    width: 5rem;
    height: 5rem;
    font-size: large;
    font-weight: bolder;
  }
  .left {
    width: 25%;
  }
  .displayPlayers {
    display: none;
    z-index: -1;
  }
  /* character */
  .card {
    width: 100vw;
    padding: 0.5rem;
  }
  .chooseAvatar h5 {
    padding-left: 1rem;
  }
  /* XXX test */
  form.radios {
    max-width: 20%;
  }
  .radios span {
    display: inline-block;
    width: 5.75rem;
    height: 5.75rem;
    margin: 0.8rem;
  }
  .icons {
    margin: 0;
  }
  /* card right */
  .right {
    position: relative;
    right: 0;
    top: 9rem;
    width: 65%;
  }
  .avatarPic {
    position: fixed;
    width: 65%;
  }
  /* wall of fame */
  .table-header {
    display: none;
  }
  .table-row {
    background-color: var(--highlight);
  }
  li {
    display: block;
  }
  .col {
    flex-basis: 100%;
  }
  .col {
    display: flex;
    padding: 10px 0;
  }
  col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
  /* subit button */
  .submitbuttoncharacterform {
    position: fixed;
    z-index: 1;
    bottom: 1rem;
    left: 50%;
    /* to center to relative width and height:  */
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 768px) and (orientation:landscape) {
  .app {
    overflow: hidden auto;
  }
  /* board */
  .game {
    width: auto;
  }
  .board {
    display: grid;
    width: fit-content;
    gap: 0.25rem;
  }
  .square {
    justify-self: center;
    align-self: end;
    width: 5rem;
    height: 5rem;
    font-size: large;
    font-weight: bolder;
  }
  img.avatar {
    max-width: 4.6875rem;
  }
  .left {
    width: 25%;
  }
  .displayPlayers {
    display: none;
    z-index: -1;
  }
  /* character */
  .card {
    width: 100vw;
    padding: 0.5rem;
  }
  .chooseAvatar h5 {
    padding-left: 1rem;
  }
  /* XXX test */
  form.radios {
    max-width: 20%;
  }
  .radios span {
    display: inline-block;
    width: 5.75rem;
    height: 5.75rem;
    margin: 0.8rem;
  }
  .icons {
    margin: 0;
  }
  /* card right */
  .right {
    position: relative;
    right: 0;
    top: 9rem;
    width: 65%;
  }
  .avatarPic {
    position: fixed;
    width: 65%;
  }
  /* wall of fame */
  .table-header {
    display: none;
  }
  .table-row {
    background-color: var(--highlight);
  }
  li {
    display: block;
  }
  .col {
    flex-basis: 100%;
  }
  .col {
    display: flex;
    padding: 10px 0;
  }
  col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
  /* subit button */
  .submitbuttoncharacterform {
    position: fixed;
    z-index: 1;
    bottom: 1rem;
    left: 50%;
    /* to center to relative width and height:  */
    transform: translate(-50%, -50%);
  }
}