/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #c21d51;
  /* var(--main-color); */
  --main-color-darker: #b41547;
  --secondary-color: rgb(183, 189, 168);
  /* var(--secondary-color); */
  --highlight: rgb(202, 201, 167);
  /* var(--highlight) */
}
* {
  margin: 0;
  padding: 0;
  font-family: Solway;
  box-sizing: border-box;

  color: #fff;
  /* color: rgb(170, 201, 213); */
}
.app {
  height: 100vh;
  width: 100vw;
  background-color: rgb(183, 189, 168);
}
/* Navbar */
.navbar {
  display: flex;
  align-items: baseline;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
  background-color: var(--highlight);
}

.headline {
  margin: 0.45rem;
}
h1.headline {
  font-size: x-large;
  margin: 0;
}
p.bangers{
  font-family: Bangers;
  font-size: xx-large;
}

/* Board */
.aroundthegame {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.game {
  /* background-color: rgb(170, 201, 213); */
  background-color: transparent;
  width: auto;
  display: flex;
  margin: 0;
  padding: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 0.25rem;
  background-color: transparent;
}

.square {
  justify-self: center;
  align-self: end;
  width: 100px;
  height: 100px;
  background-color: var(--main-color);
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  color: rgb(170, 201, 213);
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  font-size: xx-large;
  font-weight: bolder;
}
.square:hover {
  background-color: var(--main-color-darker);
  transition: 210ms all ease-in-out;
}
.square:active {
  transition: 100ms all ease-in-out;
  width: 98%;
  height: 98%;
}

img.avatar {
  max-width: 92px;
  justify-self: center;
}

/* display */
.display {
  display: block;
  text-align: center;
  line-height: 2.1em;
  padding: 0.25em 0.75em;
  min-width: 100px;
  min-height: 44px;
  margin-bottom: 0.35rem;
  background-color: transparent;
  font-size: medium;
}

/* character */
.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UserName {
  margin: 15px;
}

.floating {
  width: 300px;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

input {
  color: var(--main-color);
}

[type='text'] {
  background-color: var(--highlight);
  border-style: none;
}

[type='radio'] {
  color: var(--main-color);
  opacity: 0; /* hidden but tabable */
  position: absolute;
}
.radios label {
  cursor: pointer;
  position: relative;
}

img.icons {
  width: 100px;
  float: inline-start;
  position: relative;
}
border img.icons:hover {
  width: 105px;
  transition: all 0.4s;
}
span {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
}
input[type='radio'] + span {
  border-radius: 50%;
  background: transparent;
  background-size: contain;
  justify-self: center;
  padding: 12px;
  transition: all 0.4s;
}
input[type='radio']:checked + span {
  background-color: var(--highlight);
  transition: all 0.4s;
}
/* :hover? */

/* wall of fame */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.table-header {
  background-color: var(--main-color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row {
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.col-1 {
  flex-basis: 10%;
}
.col-2 {
  flex-basis: 40%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 25%;
}

/* button */
button.start {
position: absolute;
display: inline-block;
position: relative;
background-color: var(--main-color);
font-size: 1.2rem;
border-radius: 1000px;
border-width: 0;
padding: 0.45rem;
 box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
text-align: center;
transition:  100ms;
}
button.start:hover {
background-color: var(--main-color-darker);
}
button.start:active {
  transition: 100ms all ease-in-out;
padding: 0.40rem;
}



/* responsive */
@media only screen and (max-width: 600px) {
  /* board */
  .game {

    background-color: var(--secondary-color);
    width: auto;
  }

  .board {
    display: grid;
    width: fit-content;
    gap: 0.25rem;
  }

  .square {
    justify-self: center;
    align-self: end;
    width: 80px;
    height: 80px;
    font-size: large;
    font-weight: bolder;
  }
  img.avatar {
    max-width: 75px;
  }


  /* character */
  .character {
    /* funktioniert nicht */
    flex-wrap: wrap;
  }



  /* wall of fame */
  .table-header {
    display: none;
  }
  .table-row {
    background-color: var(--highlight);
  }
  li {
    display: block;
  }
  .col {
    flex-basis: 100%;
  }
  .col {
    display: flex;
    padding: 10px 0;
  }
  col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
